@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato/Lato-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  src: url('../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Quicksand';
  src: url('../fonts/Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}
body {
  font-family: 'Lato';
  margin: 0;
}
header a {
  text-decoration: none;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-header {
  display: flex;
  flex-direction: row;
  margin-left: 140px;
}
.logo-header img {
  margin: 12px 0 0 0;
  width: 63px;
  height: 77px;
}
.logo-header p {
  font-family: 'Quicksand';
  font-size: 30px;
  color: #303030;
  margin: 33px 0 0 0;
}
.menu-header {
  display: flex;
  flex-direction: row;
}
.menu-header a {
  text-decoration: none;
  color: #303030;
  margin: 32px 67px 0 0;
}
.menu-header a:last-child {
  margin-right: 0;
}
.menu-icons {
  display: flex;
  flex-direction: row;
  margin-right: 143px;
}
.menu-icons img {
  width: 25px;
  height: 16px;
  margin: 39px 35px 0 0;
}
.menu-icons a:last-child img {
  margin-right: 0;
}
.my-name-is {
  display: flex;
  flex-direction: row;
}
.my-name-is .audiovisual {
  position: absolute;
  top: 498px;
  left: 295px;
  width: 724px;
  height: 173px;
}
.my-name-is .audiovisual img {
  top: 498px;
  left: 295px;
  width: 724px;
  height: 173px;
}
.my-name-is .audiovisual-text {
  position: absolute;
  color: #fff;
  text-align: center;
  font: normal normal bold 45px/36px 'Comfortaa';
  letter-spacing: 0px;
  top: 28px;
  left: 110px;
}
